@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-bg-color: #F5F4FA;
  --main-color: #FFF;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.studio,
.portfolio {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.logo {
  margin-right: 0;
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  text-decoration: none;
}
.logo--header {
  color: #000;
}
.logo--footer {
  color: var(--main-color);
}

/* Contacts */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 30px;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts__envelope {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__smartphone {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/* Overlay */
.overlay {
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile/hero@1xmob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero@1xmob.jpg);
  background-position: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile/hero@2xmob.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero@2xmob.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet/hero@1xtab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero@1xtab.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet/hero@2xtab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero@2xtab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desktop/hero@1xdesk.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/hero@1xdesk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desktop/hero@2xdesk.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/hero@2xdesk.jpg);
  }
}

.button-studio {
  color: var(--main-color);
  height: 50px;
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 9px 24px;
  min-width: 200px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.button-studio:hover, .button-studio:focus {
  color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--title-text-color);
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 1.56px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
  }
}

/*Модальне вікно */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), visibility 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
@media screen and (max-width: 767.98px) {
  .backdrop {
    padding-top: 93px;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-left: 15px;
    overflow-y: scroll;
  }
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.modal-wrapper {
  padding: 40px 40px 40px 40px;
  background-color: var(--main-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
@media screen and (min-width: 480px) {
  .modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal-wrapper {
    max-width: 528px;
    width: 100%;
  }
}

/* Початковий стан елемента до анімації */
.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* Кінцевий стан елемента після анімації  */
.modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.modal-wrapper__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 23px;
  color: var(--title-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}
@media screen and (min-width: 480px) {
  .modal-wrapper__title {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .modal-wrapper__title {
    line-height: 1.15;
  }
}

.modal-form {
  margin-top: 30px;
}

/* Дані користувача */
.form-group {
  margin-bottom: 28px;
}

.wrapper-input {
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  -webkit-transition: outline-color 250ms var(--timing-function);
  transition: outline-color 250ms var(--timing-function);
}
.wrapper-input:hover, .wrapper-input:focus {
  outline: 1px solid var(--accent-color);
  outline-offset: -1px;
}

.form-modal-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.wrapper-input:hover ~ .form-modal-icon,
.wrapper-input:focus ~ .form-modal-icon {
  fill: var(--accent-color);
}

.form-modal-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

/* Коментар */
.form-group-massage {
  margin-bottom: 20px;
}

.form-message {
  display: block;
  padding: 12px 16px;
  background-color: transparent;
  width: 100%;
  height: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  resize: none;
  -webkit-transition: outline-color 250ms var(--timing-function);
  transition: outline-color 250ms var(--timing-function);
}
.form-message:hover, .form-message:focus {
  outline: 1px solid var(--accent-color);
  outline-offset: -1px;
}

/* Погодитися з розсилкою */
.form-group,
.form-group-massage,
.form-policy {
  position: relative;
  display: block;
}

.info-point {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  -webkit-transform: translateY(-17px);
          transform: translateY(-17px);
}

.form-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  margin-bottom: 30px;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;
  border-radius: 1px;
  -webkit-transition: outline 250ms var(--timing-function);
  transition: outline 250ms var(--timing-function);
}

.form-policy:hover > .custom-checkbox {
  outline: 2px solid var(--accent-color);
}

.checkbox:focus + .custom-checkbox {
  outline: 2px solid var(--accent-color);
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.checkbox:checked + .custom-checkbox {
  outline: var(--accent-color);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.contract {
  color: var(--accent-color);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}
.button-close:focus, .button-close:hover {
  fill: var(--accent-color);
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature__title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
}
@media screen and (min-width: 480px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .feature-list {
    margin: -15px;
  }
}
@media screen and (max-width: 767.98px) {
  .feature-list__description {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .feature-list__description {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__description {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767.98px) {
  .feature-list__description:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__description:last-child {
    margin-right: 0px;
  }
}
.feature-list__rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
}
.feature-list__icon {
  width: 70px;
  height: 70px;
}
.feature-list__title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Work */
.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199.98px) {
  .work {
    display: none;
  }
}
.work__title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
}

.worklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.worklist__item {
  position: relative;
  margin-right: 30px;
}
.worklist__item:last-child {
  margin-right: 0;
}
.worklist__image {
  display: block;
}
.worklist__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 23px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: var(--main-color);
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  z-index: 1;
}
.worklist__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 70px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: rgba(47, 48, 58, 0.8);
}

/* Team */
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
  background-size: 100%;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-list {
    margin: -15px;
  }
}
.team-list__card {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--main-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767.98px) {
  .team-list__card {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-list__card {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__card {
    width: 270px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__card:last-child {
    margin-right: 0;
  }
}
.team-list__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.48px;
  text-align: center;
}
.team-list__profession {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.48px;
  text-align: center;
  margin-bottom: 16px;
}
.team-list__about {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list__img {
  width: 450px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__img {
    width: 270px;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.socials-link:hover, .socials-link:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.socials-icon {
  fill: currentColor;
}

/* Clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199.98px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients-title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
}
@media screen and (max-width: 1199.98px) {
  .clients-title {
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.84px;
    margin-bottom: 30px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 30px;
}

@media screen and (max-width: 767.98px) {
  .clients-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid currentColor;
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.clients-link:hover, .clients-link:focus {
  color: var(--accent-color);
}

.client-logo {
  fill: currentColor;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .button-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.button-list button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  text-align: center;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.button-list button:hover,
.button-list button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button-list .button-point + .button-point {
  margin-left: 8px;
}

/* Projects list */
.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.card-link:hover, .card-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-text,
.card-overlay::before {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  padding: 63px 24px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.54px;
}

.card-overlay::before {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-link:hover .card-text,
.card-link:focus .card-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-list .card-link:hover .card-text,
.project-list .card-link:focus .card-text {
  opacity: 1;
}

.project-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  text-decoration: none;
}

.card-link {
  text-decoration: none;
}

.little-container {
  width: 450px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .little-container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .little-container {
    width: 370px;
  }
}

.description {
  padding: 20px 24px;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.description-text {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
}

.little-container :nth-child(3n) {
  margin-right: 0;
}

.little-container :nth-last-child(-n+3) {
  margin-bottom: 0;
}

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
}
.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 43px;
}
.site-nav__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  margin-left: 50px;
}
.site-nav__pages:hover, .site-nav__pages:focus {
  color: var(--accent-color);
}
.site-nav__link {
  position: relative;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Projects list */
.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.card-link:hover, .card-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-text,
.card-overlay::before {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  padding: 63px 24px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.54px;
}

.card-overlay::before {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-link:hover .card-text,
.card-link:focus .card-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-list .card-link:hover .card-text,
.project-list .card-link:focus .card-text {
  opacity: 1;
}

.project-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  text-decoration: none;
}

.card-link {
  text-decoration: none;
}

.little-container {
  width: 450px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .little-container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .little-container {
    width: 370px;
  }
}

.description {
  padding: 20px 24px;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.description-text {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
}

.little-container :nth-child(3n) {
  margin-right: 0;
}

.little-container :nth-last-child(-n+3) {
  margin-bottom: 0;
}

/* Footer */
.footer-section {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer-adress {
  color: var(--main-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1, 7;
  letter-spacing: 0.42px;
}

address {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  address {
    margin-top: 28px;
  }
}

.footer-contacts {
  margin-top: 12px;
}

.contacts-item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.42px;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-contacts :hover,
.footer-contacts :focus {
  color: var(--accent-color);
}

.footer-contacts .contacts-point + .contacts-point {
  margin-top: 12px;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-align: first baseline;
        -ms-flex-align: first baseline;
            align-items: first baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-align: first baseline;
        -ms-flex-align: first baseline;
            align-items: first baseline;
  }
}

.footer-part {
  margin-left: 0;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-part {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-part + .footer-part {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-part + .footer-part {
    margin-left: 70px;
  }
}

.social-title {
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  font-size: 14px;
  color: var(--main-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.attend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .attend {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.ellipse:hover,
.ellipse:focus {
  background-color: var(--accent-color);
}

/* Форма для розсилки */
.footer-submit {
  width: 480px;
}
@media screen and (min-width: 768px) {
  .footer-submit {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-submit {
    margin-left: auto;
    width: 570px;
  }
}

.social-footer {
  fill: var(--main-color);
  margin-right: 0;
  margin-bottom: 0;
}

.email-form {
  margin-top: 20px;
  gap: 12px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 1200px) {
  .email-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-input {
  padding-top: 15px;
  padding-bottom: 16px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  color: var(--main-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;
  -webkit-transition: outline 250ms var(--timing-function);
  transition: outline 250ms var(--timing-function);
}
.footer-input:hover, .footer-input:focus {
  outline: 1px solid var(--accent-color);
  outline-offset: -1px;
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    height: 50px;
    margin-bottom: 0;
    padding-left: 16px;
  }
}

.footer-btn {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--main-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 9px 24px;
  min-width: 200px;
  height: 50px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.footer-btn:hover, .footer-btn:focus {
  color: #2F303A;
}

.form-icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */