/* Форма для розсилки */

.footer-submit {
    width: 570px;
    align-items: baseline;
    margin-left: auto;
}

.social-footer {
    fill: var(--main-color);
    margin-right: 0;
    margin-bottom: 0;
}


.email-form {
    display: flex;
    margin-top: 20px;
    gap: 12px;
    width: 358px;
    height: 50px;
    flex-shrink: 0;
}


.footer-input {
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    color: var(--main-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: transparent;
    transition: outline 250ms var(--timing-function);

    &:hover,
    &:focus {
            outline: 1px solid var(--accent-color);
            outline-offset: -1px;
        }
}

