/* Contacts */

.contacts {
    display: flex;
    margin-left: auto;
    gap: 30px;

&__link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-text-color);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.28px;
        text-decoration: none;
        transition: color 250ms var(--timing-function);
    }


    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }

    &__envelope {
        margin-right: 10px;
        fill: currentColor;
        ;
    }

    &__smartphone {
        margin-right: 10px;
        fill: currentColor;
    }

}

