// Feature

.feature {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 50px;
        color: var(--title-text-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 1.08px;
    }


@include mq(mobile) {
        padding-top: 60px;
        padding-bottom: 60px;
}
}

.feature-list {

@include mq(tablet) {
    display: flex;
    flex-wrap: wrap;                                          
}

@include mq(tablet-only) {
    margin: -15px;
}


    &__description {
@include mq(mobile-only) {
        width: 100%;
        margin-bottom: 30px;
    }

@include mq(tablet-only) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    }


@include mq(desktop) {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0px;
}
    }


    &__description:last-child {
@include mq(mobile-only) {
        margin-bottom: 0px;
    }

@include mq(desktop) {
        margin-right: 0px;
    }
    }




    &__rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--primary-bg-color);
    border-radius: 4px;
      }

    &__icon {
        width: 70px;
        height: 70px;
    }


    &__title {
        color: var(--title-text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
    }
}
