


// Кнопка відкриття мобільного меню

.menu-toggle {
    display: flex;
    min-height: 40px;
    min-width: 40px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

.menu {
    padding: 48px 40px 48px 40px;
    background: var(--main-color);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);


    @media (max-width: 767px) {
                display: none;
            }
}

.topics {
    margin-bottom: 302px;
}

.contacts-list {
    margin-bottom: 64px;
}

.socials-list {
    display: flex;
    gap: 20px;
}

.topics-item {
    color: var(--title-text-color);
    text-decoration: none;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.8px;
}

.contact-item {
    color: var(--primary-text-color); 
    text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.48px;
}

.soc-item {
    color: var(--accent-color);
    text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.36px;
}

