/*Модальне вікно */

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);

  @include mq(mobile-only) {
    padding-top: 93px;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-left: 15px;
    overflow-y: scroll;
  }

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.15);
  }
}

.modal-wrapper {
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mq(mobile) {
    padding: 40px;
    max-width: 450px;
    width: 100%;
  }

  @include mq(desktop) {
    padding: 40px;
    max-width: 528px;
    width: 100%;
  }
}

// Button for modal-wrapper

.button-close {
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms var(--timing-function),
    opacity 250ms var(--timing-function);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }

  @include mq(mobile) {
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  }
}

/* Початковий стан елемента до анімації */

.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* Кінцевий стан елемента після анімації  */

.modal-wrapper {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  &__title {
    display: flex;
    height: 23px;
    color: var(--title-text-color);
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.6px;

    @include mq(mobile) {
      font-size: 20px;
      line-height: 1.5;
    }

    @include mq(desktop) {
      line-height: 1.15;
    }
  }
}

.modal-form {
  margin-top: 30px;
}

/* Дані користувача */

.form-group {
  margin-bottom: 28px;
}

.wrapper-input {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-left: 35px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  transition: outline-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    outline: 1px solid var(--accent-color);
    outline-offset: -1px;
  }

 @include mq(mobile) {
    padding-top: 11px;
    padding-right: 12px;
    padding-bottom: 11px;
    padding-left: 35px;
 }


}

.form-modal-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}

.wrapper-input:hover ~ .form-modal-icon,
.wrapper-input:focus ~ .form-modal-icon {
  fill: var(--accent-color);
}


/* Коментар */

.form-group-massage {
  margin-bottom: 20px;
}

.form-message {
  display: block;
  padding: 12px 16px;
  background-color: transparent;
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  resize: none;
  transition: outline-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    outline: 1px solid var(--accent-color);
    outline-offset: -1px;
  }
}

/* Погодитися з розсилкою */

.form-group,
.form-group-massage,
.form-policy {
  position: relative;
  display: block;
}

.info-point {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  transform: translateY(-17px);
}

.form-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  margin-bottom: 30px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;
  border-radius: 1px;
  transition: outline 250ms var(--timing-function);
}

.form-policy:hover > .custom-checkbox {
  outline: 2px solid var(--accent-color);
}

.checkbox:focus + .custom-checkbox {
  outline: 2px solid var(--accent-color);
}

.custom-checkbox-icon {
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.checkbox:checked + .custom-checkbox {
  outline: var(--accent-color);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.contract {
  color: var(--accent-color);
}

.form-policy-desk {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.36px;
  text-decoration-line: underline;

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.7;
    }
}