
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-list button {
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.48px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
    text-align: center;
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function);
}

.button-list button:hover,
.button-list button:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.button-list .button-point+.button-point {
    margin-left: 8px;
}