.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials-link {
    display: flex;
    height: 44px;
    width: 44px;
    padding: 0;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
            color: var(--main-color);
        }
}

.socials-icon {
    fill: currentColor;
}


