

 :root {

    //    colors
     --primary-text-color: #757575;
     --title-text-color: #212121;
     --accent-color: #2196F3;
     --primary-bg-color: #F5F4FA;
     --main-color: #FFF;

    // timing-function
     --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // fonts
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
 }




